[user]
  name = talog
  email = tee.talog@gmail.com
[core]
  quotepath = false
  editor = vim -c \"set fenc=utf-8\"
  autocrlf = input
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  graph = log --graph --all --decorate --color
  co = checkout
  s = status
  merged-feature-branchs = !git branch --merged | sed -r -e 's/^\\*? *//g' | grep -E "^feature/"
  mfb = !git branch --merged | sed -r -e 's/^\\*? *//g' | grep -E "^feature/"
  b = branch
  diff-name = diff --name-only
[merge]
  ff = false
[pull]
  ff = only
[diff]
  algorithm = histogram
  tool = vimdiff
[difftool "vimdiff"]
  cmd = vimdiff -o $LOCAL $REMOTE

