[user]
  name = talog
  email = tee.talog@gmail.com
[core]
  quotepath = false
  editor = vim -c \"set fenc=utf-8\"
  autocrlf = input
  filemode = false
  pager = less -R
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  co = checkout
  s = status
  b = branch
  rs = reset
  d = diff
  graph = log --graph --all --decorate --color
  g = log --graph --all --decorate --color
  merged-feature-branchs = !git branch --merged | sed -r -e 's/^\\*? *//g' | grep -E "^feature/"
  mfb = !git branch --merged | sed -r -e 's/^\\*? *//g' | grep -E "^feature/"
  diff-name = diff --name-only
  branch-name = rev-parse --abbrev-ref HEAD
  bn = rev-parse --abbrev-ref HEAD
  list-alias = !git config --list | grep '^alias' | sed -E 's/^alias\\.//g' | sed -E 's/^([^=]+)=/\\1 = /g'
  diff-line = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  word-diff = diff --word-diff-regex="\\w+" --color-words
  diffc = diff --cached
[merge]
  ff = false
[pull]
  ff = only
[diff]
  algorithm = histogram
  tool = vimdiff
[difftool "vimdiff"]
  cmd = vimdiff -o $LOCAL $REMOTE
[user]
  useConfigOnly = true

